
#mypic {
    max-height: 400px;
    /* width: 400px; */
    border-radius: 50%;
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This ensures the container takes the full height of the viewport */
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#myname {
    color: #124076;
    font-weight: bold;
}

#mega {
    display: block;
    max-width: 100%;
    max-height: 300px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#pmargin {
    margin: 0;
    padding: 0;
}

#pmargin2 {
    margin: 0;
    padding: 0;
}

